@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
     @Styles.Render("~/bundle/estilos")
     @Scripts.Render("~/bundle/js_externo/javascript")
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
       @RenderBody() 
    </div>
</body>
</html>
